USE [PROJE]
GO
/****** Object:  Table [dbo].[AIRPLANE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIRPLANE](
	[Vehicle_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AIRPORT]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIRPORT](
	[Transport_place_code] [int] NOT NULL,
	[Airport_name_code] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS](
	[Vehicle_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS_STATION]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS_STATION](
	[Transport_place_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS_TICKET]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS_TICKET](
	[Ticket_id] [int] NOT NULL,
	[Company_name] [varchar](255) NULL,
	[Preference_id] [int] NULL,
	[Trip_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS_TICKET_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS_TICKET_TYPE](
	[Preference_id] [int] NOT NULL,
	[Bus_ticket_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BUS_TRIP]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUS_TRIP](
	[Trip_id] [int] NOT NULL,
	[Departure_bus_station_code] [int] NULL,
	[Dep_date] [date] NULL,
	[Dep_time] [time](7) NULL,
	[Arrival_bus_station_code] [int] NULL,
	[Arr_date] [date] NULL,
	[Arr_time] [time](7) NULL,
	[Bus_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR](
	[Vehicle_id] [int] NOT NULL,
	[Car_licanse_plate] [varchar](20) NULL,
	[Car_class_name] [varchar](255) NULL,
	[Car_preference_id] [int] NULL,
	[Gear_preference_id] [int] NULL,
	[Company_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_LOCATION]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_LOCATION](
	[Transport_place_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_TICKET]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_TICKET](
	[Ticket_id] [int] NOT NULL,
	[Trip_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_TRIP]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_TRIP](
	[Trip_id] [int] NOT NULL,
	[Picked_location_code] [int] NULL,
	[Picked_date] [date] NULL,
	[Picked_time] [time](7) NULL,
	[Dropped_location_code] [int] NULL,
	[Drop_date] [date] NULL,
	[Drop_time] [time](7) NULL,
	[Car_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAR_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAR_TYPE](
	[Preference_id] [int] NOT NULL,
	[Car_type_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANY]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANY](
	[Company_id] [int] NOT NULL,
	[Company_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FERRY]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FERRY](
	[Vehicle_id] [int] NOT NULL,
	[Preference_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FERRY_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FERRY_TYPE](
	[Preference_id] [int] NOT NULL,
	[Ferry_type_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLIGHT_TICKET]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLIGHT_TICKET](
	[Ticket_id] [int] NOT NULL,
	[Airline_name] [varchar](255) NULL,
	[Preference_id] [int] NULL,
	[Trip_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLIGHT_TICKET_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLIGHT_TICKET_TYPE](
	[Preference_id] [int] NOT NULL,
	[Flight_ticket_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FLIGHT_TRIP]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FLIGHT_TRIP](
	[Trip_id] [int] NOT NULL,
	[Departure_airport_code] [int] NULL,
	[Arrival_airport_code] [int] NULL,
	[Dep_date] [date] NULL,
	[Dep_time] [time](7) NULL,
	[Arr_date] [date] NULL,
	[Arr_time] [time](7) NULL,
	[Airplane_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FUEL_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FUEL_TYPE](
	[Preference_id] [int] NOT NULL,
	[Fuel_type_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GEAR_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GEAR_TYPE](
	[Preference_id] [int] NOT NULL,
	[Gear_type_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IZBAN]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IZBAN](
	[Vehicle_id] [int] NOT NULL,
	[Number_of_wagons] [int] NULL,
	[Stop_count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IZBAN_STATION]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IZBAN_STATION](
	[Transport_place_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IZBAN_TICKET]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IZBAN_TICKET](
	[Ticket_id] [int] NOT NULL,
	[Trip_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IZBAN_TRIP]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IZBAN_TRIP](
	[Trip_id] [int] NOT NULL,
	[Departure_izban_station_code] [int] NULL,
	[Dep_date] [date] NULL,
	[Dep_time] [time](7) NULL,
	[Arrival_izban_station_code] [int] NULL,
	[Arr_date] [date] NULL,
	[Arr_time] [time](7) NULL,
	[Izban_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOCATION]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATION](
	[Transport_place_code] [int] NOT NULL,
	[Coordinate_X] [float] NULL,
	[Coordinate_Y] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARTI_LOCATION]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARTI_LOCATION](
	[Transport_place_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARTI_TICKET]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARTI_TICKET](
	[Ticket_id] [int] NOT NULL,
	[Trip_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARTI_TRIP]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARTI_TRIP](
	[Trip_id] [int] NOT NULL,
	[Picked_location_code] [int] NULL,
	[Picked_date] [date] NULL,
	[Picked_time] [time](7) NULL,
	[Dropped_location_code] [int] NULL,
	[Drop_date] [date] NULL,
	[Drop_time] [time](7) NULL,
	[Marti_vehicle_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARTI_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARTI_TYPE](
	[Preference_id] [int] NOT NULL,
	[Martı_type_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARTI_VEHICLE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARTI_VEHICLE](
	[Vehicle_id] [int] NOT NULL,
	[Martı_serial_number] [varchar](255) NULL,
	[Battery] [varchar](255) NULL,
	[Preference_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PASSENGER]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PASSENGER](
	[Card_id] [int] NOT NULL,
	[fname] [varchar](255) NULL,
	[mname] [varchar](255) NULL,
	[sname] [varchar](255) NULL,
	[Gender] [varchar](10) NULL,
	[DoB] [date] NULL,
	[Age] [int] NULL,
	[Nationality] [varchar](50) NULL,
	[Phone_num] [varchar](20) NULL,
	[E_mail] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Card_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PIER]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PIER](
	[Transport_place_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERENCE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERENCE](
	[Preference_id] [int] NOT NULL,
	[Preference_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PREFERS]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PREFERS](
	[Card_id] [int] NOT NULL,
	[Preference_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Card_id] ASC,
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENT]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENT](
	[Card_id] [int] NOT NULL,
	[Vehicle_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Card_id] ASC,
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAIL_TICKET]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAIL_TICKET](
	[Ticket_id] [int] NOT NULL,
	[Preference_id] [int] NULL,
	[Trip_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAIL_TICKET_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAIL_TICKET_TYPE](
	[Preference_id] [int] NOT NULL,
	[Sail_ticket_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAIL_TRIP]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAIL_TRIP](
	[Trip_id] [int] NOT NULL,
	[Departure_ferry_code] [int] NULL,
	[Dep_date] [date] NULL,
	[Dep_time] [time](7) NULL,
	[Arrival_ferry_code] [int] NULL,
	[Arr_date] [date] NULL,
	[Arr_time] [time](7) NULL,
	[Ferry_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEARCH]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEARCH](
	[Card_id] [int] NULL,
	[Search_date] [date] NULL,
	[Dep_date] [date] NULL,
	[Dep_time] [time](7) NULL,
	[Arr_date] [date] NULL,
	[Arr_time] [time](7) NULL,
	[From_Transport_place_code] [int] NULL,
	[To_Transport_place_code] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATION]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATION](
	[Transport_place_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TICKET]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TICKET](
	[Ticket_id] [int] NOT NULL,
	[Ticket_type_name] [varchar](255) NULL,
	[Card_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAIN]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAIN](
	[Vehicle_id] [int] NOT NULL,
	[Number_of_wagons] [int] NULL,
	[Preference_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAIN_STATION]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAIN_STATION](
	[Transport_place_code] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAIN_TICKET]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAIN_TICKET](
	[Ticket_id] [int] NOT NULL,
	[Preference_id] [int] NULL,
	[Trip_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAIN_TICKET_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAIN_TICKET_TYPE](
	[Preference_id] [int] NOT NULL,
	[Train_ticket_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAIN_TRIP]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAIN_TRIP](
	[Trip_id] [int] NOT NULL,
	[Departure_train_station_code] [int] NULL,
	[Dep_date] [date] NULL,
	[Dep_time] [time](7) NULL,
	[Arrival_train_station_code] [int] NULL,
	[Arr_date] [date] NULL,
	[Arr_time] [time](7) NULL,
	[Train_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORT_PLACE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORT_PLACE](
	[Transport_place_code] [int] NOT NULL,
	[City] [varchar](255) NULL,
	[Country] [varchar](255) NULL,
	[State] [varchar](255) NULL,
	[Place_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Transport_place_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSPORT_VEHICLE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSPORT_VEHICLE](
	[Vehicle_id] [int] NOT NULL,
	[Vehicle_name] [varchar](255) NULL,
	[Brand] [varchar](255) NULL,
	[Model] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRIP]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRIP](
	[Trip_id] [int] NOT NULL,
	[Trip_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USES]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USES](
	[Card_id] [int] NOT NULL,
	[Vehicle_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Card_id] ASC,
	[Vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WAGON_TYPE]    Script Date: 12.07.2024 23:08:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WAGON_TYPE](
	[Preference_id] [int] NOT NULL,
	[Wagon_type_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Preference_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AIRPLANE]  WITH CHECK ADD FOREIGN KEY([Vehicle_id])
REFERENCES [dbo].[TRANSPORT_VEHICLE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[AIRPORT]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[BUS]  WITH CHECK ADD FOREIGN KEY([Vehicle_id])
REFERENCES [dbo].[TRANSPORT_VEHICLE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[BUS_STATION]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[BUS_TICKET]  WITH CHECK ADD FOREIGN KEY([Preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[BUS_TICKET]  WITH CHECK ADD FOREIGN KEY([Ticket_id])
REFERENCES [dbo].[TICKET] ([Ticket_id])
GO
ALTER TABLE [dbo].[BUS_TICKET]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[BUS_TRIP]  WITH CHECK ADD FOREIGN KEY([Arrival_bus_station_code])
REFERENCES [dbo].[BUS_STATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[BUS_TRIP]  WITH CHECK ADD FOREIGN KEY([Bus_id])
REFERENCES [dbo].[BUS] ([Vehicle_id])
GO
ALTER TABLE [dbo].[BUS_TRIP]  WITH CHECK ADD FOREIGN KEY([Departure_bus_station_code])
REFERENCES [dbo].[BUS_STATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[BUS_TRIP]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD FOREIGN KEY([Car_preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD FOREIGN KEY([Company_id])
REFERENCES [dbo].[COMPANY] ([Company_id])
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD FOREIGN KEY([Gear_preference_id])
REFERENCES [dbo].[GEAR_TYPE] ([Preference_id])
GO
ALTER TABLE [dbo].[CAR]  WITH CHECK ADD FOREIGN KEY([Vehicle_id])
REFERENCES [dbo].[TRANSPORT_VEHICLE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[CAR_LOCATION]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[CAR_TICKET]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[CAR_TRIP]  WITH CHECK ADD FOREIGN KEY([Car_id])
REFERENCES [dbo].[CAR] ([Vehicle_id])
GO
ALTER TABLE [dbo].[CAR_TRIP]  WITH CHECK ADD FOREIGN KEY([Dropped_location_code])
REFERENCES [dbo].[CAR_LOCATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[CAR_TRIP]  WITH CHECK ADD FOREIGN KEY([Picked_location_code])
REFERENCES [dbo].[CAR_LOCATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[CAR_TRIP]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[FERRY]  WITH CHECK ADD FOREIGN KEY([Preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[FERRY]  WITH CHECK ADD FOREIGN KEY([Vehicle_id])
REFERENCES [dbo].[TRANSPORT_VEHICLE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[FLIGHT_TICKET]  WITH CHECK ADD FOREIGN KEY([Preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[FLIGHT_TICKET]  WITH CHECK ADD FOREIGN KEY([Ticket_id])
REFERENCES [dbo].[TICKET] ([Ticket_id])
GO
ALTER TABLE [dbo].[FLIGHT_TICKET]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[FLIGHT_TRIP]  WITH CHECK ADD FOREIGN KEY([Airplane_id])
REFERENCES [dbo].[AIRPLANE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[FLIGHT_TRIP]  WITH CHECK ADD FOREIGN KEY([Arrival_airport_code])
REFERENCES [dbo].[AIRPORT] ([Transport_place_code])
GO
ALTER TABLE [dbo].[FLIGHT_TRIP]  WITH CHECK ADD FOREIGN KEY([Departure_airport_code])
REFERENCES [dbo].[AIRPORT] ([Transport_place_code])
GO
ALTER TABLE [dbo].[FLIGHT_TRIP]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[IZBAN_STATION]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[IZBAN_TICKET]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[IZBAN_TRIP]  WITH CHECK ADD FOREIGN KEY([Arrival_izban_station_code])
REFERENCES [dbo].[IZBAN_STATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[IZBAN_TRIP]  WITH CHECK ADD FOREIGN KEY([Departure_izban_station_code])
REFERENCES [dbo].[IZBAN_STATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[IZBAN_TRIP]  WITH CHECK ADD FOREIGN KEY([Izban_id])
REFERENCES [dbo].[IZBAN] ([Vehicle_id])
GO
ALTER TABLE [dbo].[IZBAN_TRIP]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[LOCATION]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[MARTI_LOCATION]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[MARTI_TICKET]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[MARTI_TRIP]  WITH CHECK ADD FOREIGN KEY([Dropped_location_code])
REFERENCES [dbo].[MARTI_LOCATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[MARTI_TRIP]  WITH CHECK ADD FOREIGN KEY([Marti_vehicle_id])
REFERENCES [dbo].[MARTI_VEHICLE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[MARTI_TRIP]  WITH CHECK ADD FOREIGN KEY([Picked_location_code])
REFERENCES [dbo].[MARTI_LOCATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[MARTI_TRIP]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[MARTI_VEHICLE]  WITH CHECK ADD FOREIGN KEY([Preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[MARTI_VEHICLE]  WITH CHECK ADD FOREIGN KEY([Vehicle_id])
REFERENCES [dbo].[TRANSPORT_VEHICLE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[PIER]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[PREFERS]  WITH CHECK ADD FOREIGN KEY([Card_id])
REFERENCES [dbo].[PASSENGER] ([Card_id])
GO
ALTER TABLE [dbo].[PREFERS]  WITH CHECK ADD FOREIGN KEY([Preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[RENT]  WITH CHECK ADD FOREIGN KEY([Card_id])
REFERENCES [dbo].[PASSENGER] ([Card_id])
GO
ALTER TABLE [dbo].[RENT]  WITH CHECK ADD FOREIGN KEY([Vehicle_id])
REFERENCES [dbo].[TRANSPORT_VEHICLE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[SAIL_TICKET]  WITH CHECK ADD FOREIGN KEY([Preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[SAIL_TICKET]  WITH CHECK ADD FOREIGN KEY([Ticket_id])
REFERENCES [dbo].[TICKET] ([Ticket_id])
GO
ALTER TABLE [dbo].[SAIL_TICKET]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[SAIL_TRIP]  WITH CHECK ADD FOREIGN KEY([Arrival_ferry_code])
REFERENCES [dbo].[PIER] ([Transport_place_code])
GO
ALTER TABLE [dbo].[SAIL_TRIP]  WITH CHECK ADD FOREIGN KEY([Departure_ferry_code])
REFERENCES [dbo].[PIER] ([Transport_place_code])
GO
ALTER TABLE [dbo].[SAIL_TRIP]  WITH CHECK ADD FOREIGN KEY([Ferry_id])
REFERENCES [dbo].[FERRY] ([Vehicle_id])
GO
ALTER TABLE [dbo].[SAIL_TRIP]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[SEARCH]  WITH CHECK ADD FOREIGN KEY([Card_id])
REFERENCES [dbo].[PASSENGER] ([Card_id])
GO
ALTER TABLE [dbo].[SEARCH]  WITH CHECK ADD FOREIGN KEY([From_Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[SEARCH]  WITH CHECK ADD FOREIGN KEY([To_Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[STATION]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[TICKET]  WITH CHECK ADD FOREIGN KEY([Card_id])
REFERENCES [dbo].[PASSENGER] ([Card_id])
GO
ALTER TABLE [dbo].[TRAIN]  WITH CHECK ADD FOREIGN KEY([Preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[TRAIN]  WITH CHECK ADD FOREIGN KEY([Vehicle_id])
REFERENCES [dbo].[TRANSPORT_VEHICLE] ([Vehicle_id])
GO
ALTER TABLE [dbo].[TRAIN_STATION]  WITH CHECK ADD FOREIGN KEY([Transport_place_code])
REFERENCES [dbo].[TRANSPORT_PLACE] ([Transport_place_code])
GO
ALTER TABLE [dbo].[TRAIN_TICKET]  WITH CHECK ADD FOREIGN KEY([Preference_id])
REFERENCES [dbo].[PREFERENCE] ([Preference_id])
GO
ALTER TABLE [dbo].[TRAIN_TICKET]  WITH CHECK ADD FOREIGN KEY([Ticket_id])
REFERENCES [dbo].[TICKET] ([Ticket_id])
GO
ALTER TABLE [dbo].[TRAIN_TICKET]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[TRAIN_TRIP]  WITH CHECK ADD FOREIGN KEY([Arrival_train_station_code])
REFERENCES [dbo].[TRAIN_STATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[TRAIN_TRIP]  WITH CHECK ADD FOREIGN KEY([Departure_train_station_code])
REFERENCES [dbo].[TRAIN_STATION] ([Transport_place_code])
GO
ALTER TABLE [dbo].[TRAIN_TRIP]  WITH CHECK ADD FOREIGN KEY([Train_id])
REFERENCES [dbo].[TRAIN] ([Vehicle_id])
GO
ALTER TABLE [dbo].[TRAIN_TRIP]  WITH CHECK ADD FOREIGN KEY([Trip_id])
REFERENCES [dbo].[TRIP] ([Trip_id])
GO
ALTER TABLE [dbo].[USES]  WITH CHECK ADD FOREIGN KEY([Card_id])
REFERENCES [dbo].[PASSENGER] ([Card_id])
GO
ALTER TABLE [dbo].[USES]  WITH CHECK ADD FOREIGN KEY([Vehicle_id])
REFERENCES [dbo].[TRANSPORT_VEHICLE] ([Vehicle_id])
GO
